#!/usr/bin/sh
# @author nate zhou
# @since 2025,2026
# river-classic/rules

add="riverctl rule-add"

$add -app-id "*" ssd   # draw boarders for every window

$add -title "Floating_Term" float
$add -title "Floating_Term" dimensions 1200 800

$add -app-id "Floating_IMG" float
$add -app-id "Floating_IMG" dimensions 1200 800

# GIMP
$add -app-id "file-*" float # file import/export
$add -app-id "script-fu" float # gegl operations
$add -app-id "lighting" -title "Lighting Effects" float

# kdenlive
$add -app-id "kdenlive" float # file chooser

$add -app-id "electron" -title "Open Folder" float #code-oss

$add -app-id "org.fcitx.fcitx5-config-qt" float
