# vim:ft=zathurarc
# zathura/bindings.rc
# @author nate zhou
# @since 2023,2024,2025,2026

unmap a
unmap s
unmap <C-r>

map I recolor
map n scroll half-down
map p scroll half-up
map P print
map i zoom in
map o zoom out
map b toggle_statusbar
map r rotate rotate-cw
map <C-r> rotate rotate-ccw

map f follow

map w adjust_window width
map a adjust_window best-fit

map D toggle_page_mode
map d cycle_first_column

map m mark_add
map "'" mark_evaluate

map C-i jumplist forward
map C-o jumplist forward
