"query:Unread Articles:unread = \"yes\""

# [distros]
https://archlinux.org/feeds/news/ "~Arch Linux" archlinux distro
https://www.archlinuxcn.org/feed/ "~Arch Linux CN" archlinux distro
https://micronews.debian.org/feeds/feed.rss "~Debian Micronews" distro

# [blog]
https://lukesmith.xyz/rss.xml "~Luke Smith" blog

# [news]
http://www.fsf.org/news/aggregator/RSS "~FSF News" news

# [software]
https://github.com/martanne/abduco/releases.atom ~abduco terminal cli
https://github.com/martanne/dvtm/releases.atom ~dvtm terminal tui

https://codeberg.org/river/river/releases.rss ~river git river wm
https://codeberg.org/river/river-classic/releases.rss ~river-classic git river
https://sr.ht/~novakane/rivercarro/feed.rss ~rivercarro git river
https://gitlab.com/akumar-xyz/river-shifttags.atom ~river-shifttags git river
https://codeberg.org/sewn/dam.rss ~dam git river

https://codeberg.org/dwl/dwl/releases.rss ~dwl git dwl wm

https://suckless.org/atom.xml ~suckless xorg
https://codeberg.org/nsxiv/nsxiv/tags.rss ~nsxiv git xorg gui

https://codeberg.org/adnano/wmenu.rss ~wmenu git gui
https://codeberg.org/sewn/mew/releases.rss ~mew git gui

https://github.com/dunst-project/dunst/releases.atom ~dunst gui
https://github.com/mpv-player/mpv/releases.atom ~mpv git gui
https://github.com/artemsen/swayimg/releases.atom ~swayimg git gui

https://github.com/netblue30/firejail/releases.atom ~firejail git cli sys
https://codeberg.org/dnkl/foot/releases.rss ~foot git gui wlroots
https://github.com/gokcehan/lf/releases.atom ~lf git tui
https://github.com/neomutt/neomutt/releases.atom ~neomutt tui
https://github.com/newsboat/newsboat/tags.atom ~newsboat git tui
https://github.com/GothenburgBitFactory/taskwarrior/releases.atom ~taskwarrior git cli
https://github.com/yt-dlp/yt-dlp/releases.atom ~yt-dlp cli
https://github.com/linrunner/TLP/releases.atom ~tlp git cli daemon sys
https://github.com/ammen99/wf-recorder/releases.atom ~wf-recorder git cli wlroots
https://github.com/Jguer/yay/releases.atom ~yay git archlinux system cli
https://github.com/systemd/systemd/releases.atom ~systemd git sys

https://github.com/swaywm/swaylock/releases.atom ~swaylock git gui wlroots
https://github.com/swaywm/swaybg/releases.atom ~swaybg git gui wlroots
https://github.com/swaywm/swayidle/releases.atom ~swayidle git daemon wlroots

https://git.sr.ht/~leon_plickat/lswt/refs/rss.xml ~lswt wlroots
https://git.sr.ht/~brocellous/wlrctl/refs/rss.xml ~wlrctl wlroots

https://github.com/swaywm/sway/releases.atom ~sway git wm
https://gitlab.freedesktop.org/wlroots/wlroots/-/releases.atom ~wlroots git wlroots

https://github.com/Supreeeme/xwayland-satellite/releases.atom ~xwayland-satellite git xwayland xorg
